---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.org/?date=last30&filter_limit=5&format=JSON&idSite=7&method=SitesManager.getSiteUrlsFromId&module=API&period=range
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '["http:\/\/forum.matomo.org"]'
  recorded_at: Tue, 23 Oct 2018 04:04:14 GMT
- request:
    method: get
    uri: https://demo.matomo.org/?date=2018-09-22,2018-10-22&filter_limit=5&format=JSON&idSite=7&method=Actions.getPageUrls&module=API&period=day&segment=pageUrl==http://forum.matomo.org/c/support-bugs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"2018-09-22":[{"label":"c","nb_visits":4,"nb_hits":4,"sum_time_spent":0,"nb_hits_with_time_generation":4,"min_time_generation":"0.219","max_time_generation":"0.511","entry_nb_visits":1,"entry_nb_actions":7,"entry_sum_visit_length":592,"entry_bounce_count":0,"avg_time_on_page":0,"bounce_rate":"0%","exit_rate":"0%","avg_time_generation":0.375,"idsubdatatable":1}],"2018-09-23":[{"label":"c","nb_visits":3,"nb_hits":4,"sum_time_spent":0,"nb_hits_with_time_generation":4,"min_time_generation":"0.461","max_time_generation":"5.717","exit_nb_visits":1,"avg_time_on_page":0,"bounce_rate":"0%","exit_rate":"33%","avg_time_generation":1.789,"idsubdatatable":1}],"2018-09-24":[{"label":"c","nb_visits":5,"nb_hits":5,"sum_time_spent":0,"nb_hits_with_time_generation":5,"min_time_generation":"0.249","max_time_generation":"2.927","avg_time_on_page":0,"bounce_rate":"0%","exit_rate":"0%","avg_time_generation":0.906,"idsubdatatable":1}],"2018-09-25":[{"label":"c","nb_visits":5,"nb_hits":11,"sum_time_spent":1,"nb_hits_with_time_generation":11,"min_time_generation":"0.184","max_time_generation":"2.77","entry_nb_visits":1,"entry_nb_actions":10,"entry_sum_visit_length":2177,"entry_bounce_count":0,"exit_nb_visits":2,"avg_time_on_page":0,"bounce_rate":"0%","exit_rate":"40%","avg_time_generation":0.62,"idsubdatatable":1}],"2018-09-26":[{"label":"c","nb_visits":7,"nb_hits":13,"sum_time_spent":0,"nb_hits_following_search":1,"nb_hits_with_time_generation":13,"min_time_generation":"0.111","max_time_generation":"8.423","avg_time_on_page":0,"bounce_rate":"0%","exit_rate":"0%","avg_time_generation":0.887,"idsubdatatable":1}],"2018-09-27":[{"label":"c","nb_visits":6,"nb_hits":8,"sum_time_spent":0,"nb_hits_with_time_generation":8,"min_time_generation":"0.013","max_time_generation":"4.266","avg_time_on_page":0,"bounce_rate":"0%","exit_rate":"0%","avg_time_generation":0.845,"idsubdatatable":1}],"2018-09-28":[{"label":"c",[...]
