---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.org/?date=last30&filter_limit=50&format=JSON&idSite=7&method=Actions.getPageUrls&module=API&period=range
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"label":"t","nb_visits":22402,"nb_hits":28925,"sum_time_spent":1779080,"nb_hits_with_time_generation":28700,"min_time_generation":"0.001","max_time_generation":"102.038","entry_nb_visits":16698,"entry_nb_actions":28917,"entry_sum_visit_length":1683743,"entry_bounce_count":10696,"exit_nb_visits":17017,"nb_hits_following_search":761,"avg_time_on_page":62,"bounce_rate":"64%","exit_rate":"76%","avg_time_generation":0.669,"idsubdatatable":1},{"label":"\/index","nb_visits":1348,"nb_hits":2126,"sum_time_spent":105563,"nb_hits_following_search":55,"nb_hits_with_time_generation":2100,"min_time_generation":"0.001","max_time_generation":"73.249","entry_nb_visits":1103,"entry_nb_actions":5794,"entry_sum_visit_length":311619,"entry_bounce_count":346,"exit_nb_visits":594,"sum_daily_nb_uniq_visitors":1238,"sum_daily_entry_nb_uniq_visitors":1036,"sum_daily_exit_nb_uniq_visitors":578,"avg_time_on_page":50,"bounce_rate":"31%","exit_rate":"44%","avg_time_generation":0.739,"url":"https:\/\/forum.matomo.org\/","segment":"pageUrl==https%3A%2F%2Fforum.matomo.org%2F"},{"label":"c","nb_visits":897,"nb_hits":1520,"sum_time_spent":83731,"nb_hits_with_time_generation":1504,"min_time_generation":"0.001","max_time_generation":"9.065","entry_nb_visits":180,"entry_nb_actions":730,"entry_sum_visit_length":42999,"entry_bounce_count":46,"exit_nb_visits":256,"nb_hits_following_search":26,"avg_time_on_page":55,"bounce_rate":"26%","exit_rate":"29%","avg_time_generation":0.604,"idsubdatatable":164},{"label":"u","nb_visits":469,"[...]
- request:
    method: get
    uri: https://demo.matomo.org/?date=last30&filter_limit=5&format=JSON&idSite=7&idSubtable=164&method=Actions.getPageUrls&module=API&period=range
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"label":"\/support-bugs","nb_visits":238,"nb_hits":373,"sum_time_spent":226[...]
