---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.org/?date=last30&filter_limit=5&format=JSON&idSite=7&method=SitesManager.getSiteUrlsFromId&module=API&period=range
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '["http:\/\/forum.matomo.org"]'
  recorded_at: Tue, 09 Oct 2018 18:56:20 GMT
- request:
    method: get
    uri: https://demo.matomo.org/?date=2018-09-09,2018-10-09&filter_limit=5&format=JSON&idSite=7&method=Referrers.getAll&module=API&period=range&segment=pageUrl==http://forum.matomo.org/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"label":"matomo.org","nb_visits":14,"nb_actions":228,"max_actions":59,"sum_visit_length":8245,"bounce_count":0,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":14,"sum_daily_nb_users":0,"referer_type":3},{"label":"Keyword
        not defined","nb_visits":10,"nb_actions":115,"max_actions":43,"sum_visit_length":10437,"bounce_count":0,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":10,"sum_daily_nb_users":0,"referer_type":2},{"label":"developer.matomo.org","nb_visits":2,"nb_actions":31,"max_actions":22,"sum_visit_length":2518,"bounce_count":0,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":2,"sum_daily_nb_users":0,"referer_type":3}]'
  recorded_at: Tue, 09 Oct 2018 18:56:22 GMT
recorded_with: VCR 4.0.0
