---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.org/?date=last30&filter_limit=5&format=JSON&idSite=7&method=SitesManager.getSiteUrlsFromId&module=API&period=range
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '["http:\/\/forum.matomo.org"]'
  recorded_at: Fri, 28 Sep 2018 00:06:39 GMT
- request:
    method: get
    uri: https://demo.matomo.org/?date=last30&filter_limit=5&format=JSON&idSite=7&method=Referrers.getAll&module=API&period=range&segment=pageUrl==http://forum.matomo.org/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"label":"google.com","nb_visits":13,"nb_actions":128,"max_actions":43,"sum_visit_length":9604,"bounce_count":0,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":12,"sum_daily_nb_users":0,"referer_type":2},{"label":"matomo.org","nb_visits":10,"nb_actions":123,"max_actions":49,"sum_visit_length":4508,"bounce_count":0,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":10,"sum_daily_nb_users":0,"referer_type":3},{"label":"developer.matomo.org","nb_visits":3,"nb_actions":14,"max_actions":9,"sum_visit_length":678,"bounce_count":1,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":2,"sum_daily_nb_users":0,"referer_type":3},{"label":"ahrefs.com","nb_visits":1,"nb_actions":9,"max_actions":9,"sum_visit_length":665,"bounce_count":0,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":1,"sum_daily_nb_users":0,"referer_type":3},{"label":"br.wordpress.org","nb_visits":1,"nb_actions":49,"max_actions":49,"sum_visit_length":4058,"bounce_count":0,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":1,"sum_daily_nb_users":0,"referer_type":3}]'
  recorded_at: Fri, 28 Sep 2018 00:06:42 GMT
recorded_with: VCR 4.0.0
