---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.org/?date=last30&filter_limit=5&format=JSON&idSite=7&method=Referrers.getAll&module=API&period=range
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"label":"t.co","nb_visits":15324,"nb_actions":26136,"max_actions":43,"sum_visit_length":1529145,"bounce_count":9885,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":14206,"sum_daily_nb_users":0,"referer_type":2},{"label":"matomo.org","nb_visits":482,"nb_actions":2560,"max_actions":62,"sum_visit_length":136853,"bounce_count":143,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":456,"sum_daily_nb_users":0,"referer_type":3},{"label":"developer.matomo.org","nb_visits":70,"nb_actions":465,"max_actions":68,"sum_visit_length":31254,"bounce_count":16,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":61,"sum_daily_nb_users":0,"referer_type":3},{"label":"GitHub","nb_visits":69,"nb_actions":185,"max_actions":26,"sum_visit_length":9719,"bounce_count":38,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":68,"sum_daily_nb_users":0,"url":"github.com","logo":"plugins\/Morpheus\/icons\/dist\/socials\/github.com.png","referer_type":7},{"label":"translate.googleusercontent.com","nb_visits":35,"nb_actions":68,"max_actions":5,"sum_visit_length":6914,"bounce_count":17,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":35,"sum_daily_nb_users":0,"referer_type":3}]'
  recorded_at: Thu, 27 Sep 2018 00:55:01 GMT
recorded_with: VCR 4.0.0
