---
http_interactions:
- request:
    method: get
    uri: https://demo.matomo.org/?date=2018-09-09,2018-10-09&filter_limit=5&format=JSON&idSite=7&method=Referrers.getAll&module=API&period=range
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"label":"Keyword not defined","nb_visits":16992,"nb_actions":28853,"max_actions":43,"sum_visit_length":1659716,"bounce_count":11023,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":15735,"sum_daily_nb_users":0,"referer_type":2},{"label":"matomo.org","nb_visits":439,"nb_actions":2331,"max_actions":62,"sum_visit_length":124756,"bounce_count":147,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":414,"sum_daily_nb_users":0,"referer_type":3},{"label":"developer.matomo.org","nb_visits":66,"nb_actions":485,"max_actions":68,"sum_visit_length":39745,"bounce_count":15,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":54,"sum_daily_nb_users":0,"referer_type":3},{"label":"GitHub","nb_visits":60,"nb_actions":162,"max_actions":26,"sum_visit_length":9600,"bounce_count":31,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":59,"sum_daily_nb_users":0,"url":"github.com","logo":"plugins\/Morpheus\/icons\/dist\/socials\/github.com.png","referer_type":7},{"label":"translate.googleusercontent.com","nb_visits":39,"nb_actions":63,"max_actions":5,"sum_visit_length":3740,"bounce_count":25,"nb_visits_converted":0,"sum_daily_nb_uniq_visitors":39,"sum_daily_nb_users":0,"referer_type":3}]'
  recorded_at: Tue, 09 Oct 2018 18:56:19 GMT
recorded_with: VCR 4.0.0
